In [101]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import chi2
from sklearn.feature_selection import SelectKBest

In [102]:
dataset=pd.read_csv('Pre_processdata.csv')

In [103]:
dataset

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender
0,1,11.8,6.1,1,0,1,1,Male
1,1,14.0,5.4,0,0,1,0,Female
2,1,11.8,6.3,1,1,1,1,Male
3,1,14.4,6.1,0,1,1,1,Male
4,1,13.5,5.9,0,0,0,0,Female
...,...,...,...,...,...,...,...,...
4996,1,13.6,5.1,0,0,0,0,Female
4997,1,11.9,5.4,0,0,0,0,Female
4998,1,12.9,5.7,0,0,0,0,Female
4999,1,13.2,6.2,0,0,0,0,Female
5000,1,15.4,5.4,1,1,1,1,Male

In [104]:
datas=pd.get_dummies(dataset,drop_first=True)

In [105]:
datas

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender_Male
0,1,11.8,6.1,1,0,1,1,1
1,1,14.0,5.4,0,0,1,0,0
2,1,11.8,6.3,1,1,1,1,1
3,1,14.4,6.1,0,1,1,1,1
4,1,13.5,5.9,0,0,0,0,0
...,...,...,...,...,...,...,...,...
4996,1,13.6,5.1,0,0,0,0,0
4997,1,11.9,5.4,0,0,0,0,0
4998,1,12.9,5.7,0,0,0,0,0
4999,1,13.2,6.2,0,0,0,0,0
5000,1,15.4,5.4,1,1,1,1,1

In [106]:
datas.columns

Index(['long_hair', 'forehead_width_cm', 'forehead_height_cm', 'nose_wide',
       'nose_long', 'lips_thin', 'distance_nose_to_lip_long', 'gender_Male'],
      dtype='object')

In [107]:
ind=datas.drop('gender_Male',1)
dep=datas['gender_Male']

In [108]:
ind

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long
0,1,11.8,6.1,1,0,1,1
1,1,14.0,5.4,0,0,1,0
2,1,11.8,6.3,1,1,1,1
3,1,14.4,6.1,0,1,1,1
4,1,13.5,5.9,0,0,0,0
...,...,...,...,...,...,...,...
4996,1,13.6,5.1,0,0,0,0
4997,1,11.9,5.4,0,0,0,0
4998,1,12.9,5.7,0,0,0,0
4999,1,13.2,6.2,0,0,0,0
5000,1,15.4,5.4,1,1,1,1

In [109]:
dep

0       1
1       0
2       1
3       1
4       0
       ..
4996    0
4997    0
4998    0
4999    0
5000    1
Name: gender_Male, Length: 5001, dtype: uint8

In [160]:
def select_k(ind,dep,n):
    selection=SelectKBest(score_func=chi2,k=n)
    fit_select=selection.fit(ind,dep)
    select_feature=fit_select.transform(ind)
    return select_feature

In [149]:
def split_scaler(ind,dep):
    X_train, X_test, y_train, y_test = train_test_split(ind, dep, test_size = 0.25, random_state = 0)
   
    return X_train, X_test, y_train, y_test

In [150]:
def accuracy_pred(classifier,X_test):
    y_pred=classifier.predict(X_test)
    from sklearn.metrics import confusion_matrix
    cm=confusion_matrix(y_test,y_pred)
    from sklearn.metrics import classification_report
    clf=classification_report(y_test,y_pred)
    from sklearn.metrics import accuracy_score
    accuracy=accuracy_score(y_test,y_pred)
    return classifier,X_test,y_test,cm,clf,accuracy

In [151]:
def logis(X_train,y_train,X_test):
    from sklearn.linear_model import LogisticRegression
    classifier=LogisticRegression(random_state = 0)
    classifier.fit(X_train,y_train)
    classifier,X_test,y_test,cm,clf,accuracy=accuracy_pred(classifier,X_test)
    return classifier,X_test,y_test,cm,clf,accuracy

In [152]:
def random(X_train,y_train,X_test):
    from sklearn.ensemble import RandomForestClassifier
    classifier = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0)
    classifier.fit(X_train,y_train)
    classifier,X_test,y_test,cm,clf,accuracy=accuracy_pred(classifier,X_test)
    return classifier,X_test,y_test,cm,clf,accuracy

In [153]:
def decision(X_train,y_train,X_test):
    from sklearn.tree import DecisionTreeClassifier
    classifier = DecisionTreeClassifier(criterion = 'entropy', random_state = 0)
    classifier.fit(X_train,y_train)
    classifier,X_test,y_test,cm,clf,accuracy=accuracy_pred(classifier,X_test)
    return classifier,X_test,y_test,cm,clf,accuracy

In [154]:
def knn(X_train,y_train,X_test):
    from sklearn.neighbors import KNeighborsClassifier
    classifier = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2)
    classifier.fit(X_train,y_train)
    classifier,X_test,y_test,cm,clf,accuracy=accuracy_pred(classifier,X_test)
    return classifier,X_test,y_test,cm,clf,accuracy

In [155]:
def navie(X_train,y_train,X_test):
    from sklearn.naive_bayes import GaussianNB
    classifier = GaussianNB()
    classifier.fit(X_train,y_train)
    classifier,X_test,y_test,cm,clf,accuracy=accuracy_pred(classifier,X_test)
    return classifier,X_test,y_test,cm,clf,accuracy

In [156]:
def tables(acclogis,accran,accdeci,accknn,accnavie):
    table=pd.DataFrame(index=['chi2'],columns=['acclogis','accran','accdeci','accknn','accnavie'])
    for number,i in enumerate(table.index):
        table['acclogis'][i]=acclogis[number]
        table['accran'][i]=accran[number]
        table['accdeci'][i]=accdeci[number]
        table['accknn'][i]=accknn[number]
        table['accnavie'][i]=accnavie[number]
    return table

In [163]:
kbest=select_k(ind,dep,5)

In [164]:
X_train, X_test, y_train, y_test=split_scaler(kbest,dep)

In [165]:
acclogis=[]
accran=[]
accdeci=[]
accknn=[]
accnavie=[]
classifier,X_test,y_test,cm,clf,accuracy=logis(X_train,y_train,X_test)
acclogis.append(accuracy)
classifier,X_test,y_test,cm,clf,accuracy=random(X_train,y_train,X_test)
accran.append(accuracy)
classifier,X_test,y_test,cm,clf,accuracy=decision(X_train,y_train,X_test)
accdeci.append(accuracy)
classifier,X_test,y_test,cm,clf,accuracy=knn(X_train,y_train,X_test)
accknn.append(accuracy)
classifier,X_test,y_test,cm,clf,accuracy=navie(X_train,y_train,X_test)
accnavie.append(accuracy)

C:\Users\Priya\Anaconda3\envs\aiml\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Priya\Anaconda3\envs\aiml\lib\site-packages\sklearn\utils\fixes.py:230: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  if _joblib.__version__ >= LooseVersion('0.12'):
C:\Users\Priya\Anaconda3\envs\aiml\lib\site-packages\sklearn\utils\fixes.py:230: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  if _joblib.__version__ >= LooseVersion('0.12'):
C:\Users\Priya\Anaconda3\envs\aiml\lib\site-packages\sklearn\neighbors\base.py:441: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  old_joblib = LooseVersion(joblib_version) < LooseVersion('0.12')
C:\Users\Priya\Anaconda3\envs\aiml\lib\site-packages\sklearn\neighbors\base.py:441: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  old_joblib = LooseVersion(joblib_version) < LooseVersion('0.12')

In [166]:
result=tables(acclogis,accran,accdeci,accknn,accnavie)

In [61]:
result
#2

      acclogis    accran   accdeci    accknn  accnavie
chi2  0.879297  0.873701  0.873701  0.872102  0.873701

In [66]:
result
#4

      acclogis    accran   accdeci    accknn  accnavie
chi2  0.954436  0.959233  0.959233  0.954436  0.954436

In [167]:
result
#5

      acclogis   accran   accdeci    accknn  accnavie
chi2  0.953637  0.96243  0.961631  0.960032  0.960831

In [171]:
select_k(ind,dep,5)

Index(['forehead_width_cm', 'nose_wide', 'nose_long', 'lips_thin',
       'distance_nose_to_lip_long'],
      dtype='object')

In [168]:
def select_k(ind,dep,n):
    selection=SelectKBest(score_func=chi2,k=n)
    fit_select=selection.fit(ind,dep)
    select_feature=fit_select.transform(ind)
    names=fit_select.get_support(indices=True)
    column=dataset.columns[names]
    return column

In [169]:
column=select_k(ind,dep,5)

In [170]:
column

Index(['forehead_width_cm', 'nose_wide', 'nose_long', 'lips_thin',
       'distance_nose_to_lip_long'],
      dtype='object')

In [172]:
classifier.predict([[16.5,0,1,0,1]])

array([1], dtype=uint8)